<div class="container">
    <div *ngFor="let row of rows; let i = index;" class="row">
        <div *ngFor="let item of row; let j = index;" 
        class="box" [ngClass]="{ 'start': isStartingPoint(j, i), 'end': isEndPoint(j, i), 'obstacle': isObstacle(j, i), 'path': !isObstacle(j, i) && isInPath(j, i) }"
        (mouseover)="overBox($event, j, i)"
        (mousedown)="startDraw($event, j, i)"
        >
        <div *ngIf="showCosts && isInClosedSet(j, i)" class="closed-set-details">
            <div class="g-cost">{{ getBoxAt(j, i).gCost }}</div>
            <div class="h-cost">{{ getBoxAt(j, i).hCost }}</div>
            <div class="f-cost">{{ getBoxAt(j, i).fCost }}</div>
        </div>

        </div>
    </div>
    <div class="buttons">
        <button (click)="findPath()">Find Path</button>
        <button class="show-costs" (click)="toggleShowCosts()">Toggle Show Costs</button>
        <button class="horiz-only" (click)="toggleHorizontalOnly()">Toggle Horizontal Path Only</button>

        <div class="shift" [ngClass]="{ 'shift-down' : shiftIsDown }">Shift</div>
    </div>
</div>
